<!DOCTYPE html>
<!-- Definindo a lista de créditos -->
<div class="col-xs-12">
     <table class="row">
          <tr ng-repeat="credit in bcCtrl.billingCycle.credits">
               <td>
                    <field id="credit.name" label="Nome" grid="12 6 4" placeholder="Informe o Nome" model="credit.name" readonly="bcCtrl.tabDelete || bcCtrl.tabView"></field>
                    <field id="credit.value" label="Valor" grid="12 6 4" placeholder="Informe o Valor" model="credit.value" readonly="bcCtrl.tabDelete || bcCtrl.tabView" change="bcCtrl.calculateValues()"></field>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                         <label>Ações</label>
                         <div class="form-group">
                              <button class="btn btn-success" ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-click="bcCtrl.addCredit($index)">
                                   <i class="fa fa-plus"></i></button>
                              <button class="btn btn-warning" ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-click="bcCtrl.cloneCredit($index,credit)">
                                   <i class="fa fa-clone"></i></button>
                              <button class="btn btn-danger" ng-disabled="bcCtrl.tabDelete || bcCtrl.tabView" ng-click="bcCtrl.deleteCredit($index)">
                                   <i class="fa fa-trash-o"></i></button>
                         </div>
                    </div>
               </td>
          </tr>
     </table>
</div>
