<!DOCTYPE html>
<!-- definição do comportamento dos icones do header do menu e do titulo do header-->
<a href="/#" class="logo">
     <span class="logo-mini">ELO</span>
     <span class="logo-lg"><i class="fa fa-child"></i> <b>Plataforma ELO</b> </span>
</a>
<!-- definição da dinamica do menu-->
<nav class="navbar navbar-static-top" >
     <a href class="sidebar-toggle" data-toggle="offcanvas"></a>
     <div class="navbar-custom-menu" >
          <ul class="nav navbar-nav">

               <!-- User Account: style can be found in dropdown.less -->
               <li class="dropdown user user-menu closed">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                         <img src="assets/luizbezerra.jpg" class="user-image" alt="User Image">
                         <span class="hidden-xs">Luiz Bezerra</span>
                    </a>
                    <ul class="dropdown-menu">
                         <!-- User image -->
                         <li class="user-header">
                              <img src="assets/luizbezerra.jpg" class="img-circle" alt="User Image">
                              <p>
                                   <strong>Luiz Bezerra</strong>
                                   <small>Construtor Digital</small>
                              </p>
                         </li>
                         <!-- Menu Body -->
                         <!-- <li class="user-body">
                              <div class="row">
                                   <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                   </div>
                                   <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                   </div>
                                   <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                   </div>
                              </div>
                         </li> -->
                         <!-- Menu Footer-->
                         <li class="user-footer">
                              <div class="pull-left">
                                   <a href="/#!/login.html" class="btn btn-default btn-flat">Perfil</a>
                              </div>
                              <div class="pull-right">
                                   <a href="/#!/index.html" class="btn btn-default btn-flat">Sair</a>
                              </div>
                         </li>
                    </ul>
               </li>
               <!-- Control Sidebar Toggle Button -->
               <li>
                    <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
               </li>
          </ul>
     </div>
</nav>
