<!DOCTYPE html>
<html ng-app="eloApp">

<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Plataforma ELO</title>
     <!-- Tell the browser to be responsive to screen width -->
     <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
     <link rel="stylesheet" href="/assets/css/deps.min.css">
     <!-- Ionicons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body class="hold-transition register-page">
     <div class="register-box" ng-controller="RegistrarCtrl as rgCtrl">
          <div class="register-logo">
               <!-- <a><b>Plataforma</b> ELO</a> -->
               <p>
                    <img src="assets/elo.png" height="100" width="200">
               </p>
          </div>

          <div class="register-box-body">
               <!-- <p class="login-box-msg">Registrar um novo membro</p> -->
               <form action="/index.html">
                    <div class="form-group has-feedback">
                         <input id="nome" class="form-control" placeholder="Nome Completo" ng-model="rgCtrl.registrosUsuario.nome">
                         <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                         <input id="email" type="email" class="form-control" placeholder="Email" ng-model="rgCtrl.registrosUsuario.email">
                         <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                         <input id="senha" type="password" class="form-control" placeholder="Senha" ng-model="rgCtrl.registrosUsuario.senha">
                         <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                         <input id="senhaConfirmacao" type="password" class="form-control" placeholder="Confirme a senha" ng-model="rgCtrl.registrosUsuario.senhaConfirmacao">
                         <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div ng-if="senha != senhaConfirmacao">
                         <span ng-message="required" class="change">Senha nao bateee</span>
                    </div>

                    <div class="row">
                         <div class="col-xs-10">
                              <div class="checkbox icheck">
                                   <label>
                                        <input type="checkbox" style="top: -10%; left: -45%;
                                     width: 100%; height: 100%; margin: 0px; padding: 0px; "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Estou de acordo com o
                                        <a href="#">termo</a>.
                                   </label>
                              </div>
                         </div>
                         <div class="col-xs-12">
                              <button class="btn bg-orange btn-block " ng-click="rgCtrl.onSubmit(registrosUsuario)">Registrar</button>
                         </div>
                    </div>
               </form>
               <br>
               <a href="index.html" class="text-center">Já possuo cadastro.</a>
          </div>
     </div>

     <script src="/assets/js/deps.min.js"></script>
     <script src="/assets/js/app.min.js"></script>
</body>

</html>
